/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
list, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, list, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  line-height: 1.5; }

.container {
  max-width: 100%;
  margin: 0 auto; }

@media (max-width: 992px) {
  .container {
    max-width: 100%;
    margin: 0 auto; } }

@media (max-width: 767px) {
  .container {
    max-width: 375px;
    margin: 0 auto; } }

.container-sm {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 12px; }

@media (max-width: 992px) {
  .container-sm {
    max-width: 100%;
    margin: auto 12px auto 24px; } }

@media (max-width: 767px) {
  .container-sm {
    width: 375px;
    max-width: 100%;
    margin: auto; } }

@media (max-width: 992px) {
  .container-sm h1 {
    background: #aa0601;
    padding: 16px 148px;
    border-bottom: 1px solid #ffffff; } }

@media (max-width: 767px) {
  .container-sm h1 {
    background: #AA0601;
    padding: 16px 132px;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (max-width: 767px) {
  .container-sm h1 a {
    width: 80px;
    display: block;
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 16px; } }

@media (max-width: 767px) {
  .container-sm h1 a img {
    width: 250px; } }

.container-nar {
  width: 52%;
  margin: 0 auto;
  text-align: left;
  color: #000; }

@media (max-width: 767px) {
  .container-nar {
    width: 100%;
    padding: 14px; } }

.container-nar ul textarea {
  width: 100%;
  padding: 6px 12px;
  resize: none;
  border: 1px solid #000; }

.header {
  height: 80px;
  background-color: #AA0601;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px; }

@media (max-width: 767px) {
  .header {
    height: auto;
    padding: 0; } }

.header .container-sm h1 {
  height: 48.57px;
  float: left;
  margin-top: 32px; }

.header .container-sm h1 a {
  height: 48.57px;
  width: 80px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap; }

.nav-bar-whole {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media (max-width: 992px) {
  .nav-bar-whole h1 {
    padding: 10px; } }

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 20px; }
  .nav-bar li {
    margin-left: 64px;
    margin-bottom: 40px;
    margin-top: 40px; }
  .nav-bar a {
    color: #fff; }
  .nav-bar a:hover {
    color: #E9AFAF; }

@media (max-width: 992px) {
  .nav-bar {
    font-size: 18px; }
    .nav-bar li {
      margin: 20px 30px; } }

@media (max-width: 767px) {
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    font-size: 16px; }
  a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    padding: 12px 58px;
    display: block;
    font-size: 16px;
    margin: 0; } }

@media (max-width: 767px) {
  .nav-bar li {
    width: 50%;
    border: 0.5px solid white;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px; } }

.banner {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png);
  background-color: blue;
  background-size: cover;
  background-position: center center;
  height: 787px;
  width: 100%; }

@media (max-width: 767px) {
  .banner {
    background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png) no-repeat;
    width: 100%;
    height: 396px; } }

.banner-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #650300;
  text-align: right;
  padding-top: 296px;
  padding-bottom: 302px; }

@media (max-width: 767px) {
  .banner-txt {
    padding-top: 144px;
    padding-bottom: 0; }
    .banner-txt ul .font-36 {
      font-size: 16px; }
    .banner-txt ul .font-64 {
      font-size: 24px; }
    .banner-txt ul .bolden {
      -webkit-text-stroke: 1px #650300; } }

.bolden {
  -webkit-text-stroke: 2.4px #650300; }

.bolden2 {
  -webkit-text-stroke: 2px #650300; }

.font-14 {
  font-size: 14px; }

.font-16 {
  font-size: 16px; }

.font-20 {
  font-size: 20px; }

@media (max-width: 992px) {
  .font-20 {
    font-size: 16px; } }

.font-24 {
  font-size: 24px; }

.font-36 {
  font-size: 36px; }

@media (max-width: 992px) {
  .font-36 {
    font-size: 24px; } }

@media (max-width: 767px) {
  .font-36 {
    font-size: 16px; } }

.font-48 {
  font-size: 48px; }

@media (max-width: 992px) {
  .font-48 {
    font-size: 40px; } }

.font-64 {
  font-size: 64px; }

@media (max-width: 992px) {
  .font-64 {
    font-size: 54px; } }

.ptb-8 {
  padding-top: 8px;
  padding-bottom: 8px; }

.pd-16 {
  padding: 16px; }

.pt-16 {
  padding-top: 16px; }

.pt-60 {
  padding-top: 60px; }

.pt-80 {
  padding-top: 80px; }

.pb-8 {
  padding-bottom: 8px; }

.pb-24 {
  padding-bottom: 24px; }

.pb-32 {
  padding-bottom: 32px; }

.pb-48 {
  padding-bottom: 48px; }

.pb-80 {
  padding-bottom: 80px; }

.pr-24 {
  padding-right: 24px; }

.pr-48 {
  padding-right: 48px; }

.cl-bl {
  color: #000; }

.mb-8 {
  margin-bottom: 8px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-80 {
  margin-bottom: 80px; }

.mt-8 {
  margin-top: 8px; }

.mt-36 {
  margin-top: 36px; }

.mt-72 {
  margin-top: 72px; }

.mr-24 {
  margin-right: 24px; }

.btn-buy {
  background: #AA0601;
  padding: 6px 12px;
  display: inline-block; }

.btn-buy a {
  color: #fff;
  padding: 0; }

.btn-buy:hover {
  color: #E9AFAF;
  background: #000; }

.title {
  text-align: center;
  color: #650300;
  line-height: 1.5; }

.font-wh {
  color: #fff; }

.pink-bg {
  background-color: #FBF2F2; }

.pink-bg-cardrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto; }

@media (max-width: 992px) {
  .pink-bg-cardrow {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (max-width: 767px) {
  .pink-bg-cardrow {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23.5%;
  margin: 10px; }

@media (max-width: 992px) {
  .card {
    width: 45%; } }

@media (max-width: 767px) {
  .card {
    width: 90%;
    padding-bottom: 24px; } }

.card img {
  width: 83px;
  vertical-align: middle;
  margin-bottom: 24.33px; }

.card p {
  -moz-text-align-last: left;
       text-align-last: left; }

.card3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #AA0601; }

@media (max-width: 992px) {
  .card3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.card3 img {
  max-width: 100%; }

.card3-per {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%; }

@media (max-width: 992px) {
  .card3-per {
    width: 60%;
    padding-right: 0; } }

@media (max-width: 767px) {
  .card3-per {
    width: 80%;
    margin: 0 auto; } }

.section3 {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png);
  background-color: grey;
  background-size: cover;
  background-position: center center;
  height: auto;
  width: 100%; }

.white-bg {
  background-color: #fff; }

.card2-per {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto; }

@media (max-width: 992px) {
  .card2-per {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60%; } }

@media (max-width: 767px) {
  .card2-per {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%; } }

.card-bg {
  background-size: cover;
  background-position: center center;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap; }

.card2 {
  width: 50%; }

@media (max-width: 992px) {
  .card2 {
    width: 100%;
    margin-bottom: 24px; } }

.card2-wh {
  height: 88px;
  width: 100%;
  background: #fff;
  text-align: center;
  color: #AA0601;
  line-height: 88px; }

.card4-1 {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-1.png); }

.card4-2 {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-2.png); }

.card4-3 {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-3.png); }

.card4-4 {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-4.png); }

.square {
  height: 282px;
  width: 282px; }

.card-pic-txt {
  width: 282px; }

@media (max-width: 992px) {
  .card-pic-txt {
    width: 45%;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 767px) {
  .card-pic-txt {
    width: 95%;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto; } }

.card-pic-txt:not(:last-of-type) {
  margin-right: 24px; }

.card-txt {
  border: solid 1px rgba(44, 44, 44, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  font-size: 16px; }

@media (max-width: 1250px) {
  .card-txt {
    font-size: 14px; } }

@media (max-width: 1116px) {
  .card-txt {
    font-size: 13px; } }

@media (max-width: 992px) {
  .card-txt {
    font-size: 20px; } }

@media (max-width: 767px) {
  .card-txt {
    font-size: 20px;
    width: 90%; } }

.card-txt .mt-72 {
  color: #707070;
  font-size: 14px; }

.container-nar ul textarea {
  color: #707070; }

textarea::-webkit-input-placeholder {
  color: #707070;
  opacity: .5; }

textarea::-moz-placeholder {
  color: #707070;
  opacity: .5; }

textarea:-ms-input-placeholder {
  color: #707070;
  opacity: .5; }

textarea::-ms-input-placeholder {
  color: #707070;
  opacity: .5; }

textarea::placeholder {
  color: #707070;
  opacity: .5; }

.btn-input {
  text-align: center;
  background: #AA0601;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 16px 176px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-input:hover {
    background: #000;
    color: #FBF2F2; }

@media (max-width: 767px) {
  .btn-input {
    padding: 16px 84px; } }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer {
  height: auto;
  background-color: #AA0601;
  color: #fff;
  padding-bottom: 32px; }

.nav-bar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .nav-bar-left li {
    padding-right: 48px; }
  .nav-bar-left li a {
    color: #fff; }

@media (max-width: 767px) {
  .nav-bar-left {
    display: none; } }

.nav-bar-left li a:hover {
  color: #E9AFAF; }

.nav-combine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (max-width: 767px) {
  .nav-combine {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .nav-combine p {
      width: 100%; } }

.nav-bar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 48px; }

@media (max-width: 767px) {
  .nav-bar-logo {
    margin-top: 24px;
    width: 100%; } }

.nav-bar-logo li a img {
  width: 48px;
  height: 48px;
  margin-right: 32px; }

@media (max-width: 767px) {
  .nav-bar-logo li a img {
    width: 24px;
    height: 24px;
    margin-right: 8px; } }

.last-logo {
  margin-right: -8px; }

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .contact-list .list-item span {
    width: 40px;
    height: 40px;
    margin-right: 22px;
    padding: 6px;
    margin-top: 6px; }

.material-symbols-outlined {
  width: 40px;
  height: 40px;
  margin-right: 22px; }

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.bd-bt {
  border-bottom: solid 1px #fff; }

.nav-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.nav-row li:not(:last-of-type) {
  margin-right: 32px; }

@media (max-width: 992px) {
  .nav-row {
    margin-right: 16px; } }

@media (max-width: 767px) {
  .nav-row {
    font-size: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .nav-row li {
      display: block;
      width: 100%; } }

/*# sourceMappingURL=all.css.map */
